# Configurações do Backend ProjectNBX
PORT=8080
JWT_SECRET=super_secret_jwt_key_projectnbx_change_me_in_production
DATABASE_URL=postgres://admin:nbx_pass@localhost:8190/nbx_stream?sslmode=disable
MIGRATIONS_DIR=migrations
LIVEKIT_URL=ws://localhost:7880
LIVEKIT_API_KEY=devkey
LIVEKIT_API_SECRET=secret
ALLOWED_ORIGINS=*
